@font-face {
    font-family: 'SECESSION-AFISHA';
    src: local('SECESSION-AFISHA'), local('SECESSION AFISHA'), url('../fonts/SECESSION-AFISHA.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
}

